<!DOCTYPE html>
<style>
  /* Add a black background color to the top navigation */
  /* Style the navigation bar */
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  height: 60px;
}
/* Style the links inside the navigation bar */
.navbar .nav-button {
  position: relative; /* change position to relative */
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  background-color: blue;
  color: white;
  border: none;
  border: 2px solid blue;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease-in-out;
}
  .container {
    display: grid;
    grid-template-rows: auto 1fr; /* set header and main to auto and 1fr respectively */
    grid-template-columns: 1fr; /* set one column for both header and main */
    height: 100vh; /* set height to 100vh for full page height */
  }
  .header {
    padding: 20px;
    text-align: center;
    background: #741a10;
    color: white;
    font-size: 30px;
  }
  .title {
    font-size: 36px;
    margin: 0;
    padding: 10px; /* add padding to title */
    border: 2px solid#741a10; /* add border to title */
    background-color:#741a10;
    border-bottom: none; /* remove border from bottom of title */
  }
  .main {
    padding: 20px;
  }
  .articles {
    margin-top: 35px;
  }
  .articles h2 {
    font-size: 32px;
    text-align: center;
  }
  .article {
    border: 2px solid #7e7a7a;
    padding: 20px;
    margin-bottom: 20px;
  }
  /*adjusting image display of article */
  .article img {
    max-width: 150%;
    height: 350px
  }
  .article h4 {
    margin: 0;
  }
  .article p {
    margin-top: 10px;
  }

  /*pagination*/
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .page-item {
    margin: 0 10px;
  }

  .page-link {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
  }

  .page-link:hover {
    background-color: #f2f2f2;
  }

  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
</style>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>News Homepage</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="title">Welcome to Team404 Landing page!</h1>
        <p>Today is: <span id="datetime"></span></p>
      </header>

      <nav class="navbar">
        <a href="/signin" class="nav-button">Log In</a>
        <button class="nav-button" id="refresh-button">Refresh</button>
        <a href="/signup" class="nav-button">Sign Up</a>
      </nav>

      <main class="main">
        {{#if success_msg}}
          <div class="alert alert-success" role="alert">{{success_msg}}</div>
        {{/if}}

        <section class="articles">
          <h2>Top Headlines</h2>
          <nav class="pagination-nav" aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item {{#unless hasPrevPage}}disabled{{/unless}}">
              <a class="page-link" href="?page=1" aria-label="First">
                 <span aria-hidden="true">First Page</span>
                <span class="sr-only">First</span>
               </a>
            </li>

            {{#if hasPrevPage}}
            <li class="page-item">
              <a class="page-link" href="?page={{prevPage}}" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {{/if}}

            {{#each pages}}
            <li class="page-item {{#if isActive}}active{{/if}}">
              <a class="page-link" href="?page={{page}}">{{page}}</a>
            </li>
            {{/each}}

            {{#if hasNextPage}}
            <li class="page-item">
              <a class="page-link" href="?page={{nextPage}}" aria-label="Next">
                <span aria-hidden="true">Next</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            {{/if}}

            <li class="page-item {{#unless hasNextPage}}disabled{{/unless}}">
              <a class="page-link" href="?page={{lastPage}}" aria-label="Last">
                <span aria-hidden="true">Last Page</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
          </ul>
        </nav>


          <div id="news">
            {{#each articles}}
            <div class="article">
              <img src="{{this.urlToImage}}"/>
              <h4>{{this.title}}</h4>
              <p>{{this.description}}</p>
              <a href="{{this.url}}">Read more</a>
            </div>
            {{/each}}
          </div>
        </section>
        <nav class="pagination-nav" aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item {{#unless hasPrevPage}}disabled{{/unless}}">
              <a class="page-link" href="?page=1" aria-label="First">
                 <span aria-hidden="true">First Page</span>
                <span class="sr-only">First</span>
               </a>
            </li>

            {{#if hasPrevPage}}
            <li class="page-item">
              <a class="page-link" href="?page={{prevPage}}" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {{/if}}

            {{#each pages}}
            <li class="page-item {{#if isActive}}active{{/if}}">
              <a class="page-link" href="?page={{page}}">{{page}}</a>
            </li>
            {{/each}}

            {{#if hasNextPage}}
            <li class="page-item">
              <a class="page-link" href="?page={{nextPage}}" aria-label="Next">
                <span aria-hidden="true">Next</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            {{/if}}

            <li class="page-item {{#unless hasNextPage}}disabled{{/unless}}">
              <a class="page-link" href="?page={{lastPage}}" aria-label="Last">
                <span aria-hidden="true">Last Page</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
          </ul>
        </nav>

      </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
      // Get the refresh button element
      const refreshButton = document.getElementById('refresh-button');

      // Add a click event listener to the refresh button
      refreshButton.addEventListener('click', function() {
        // Make an AJAX request to the /homerefresh endpoint
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/homerefresh');
        xhr.send();

        // Reload the page after the AJAX request is complete
        xhr.addEventListener('load', function() {
          location.reload();
        });
      });
    </script>

    <script>
        const datetimeElement = document.getElementById('datetime');
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        const datetime = new Date().toLocaleDateString('en-US', options);
        datetimeElement.textContent = datetime;
    </script>
  </body>
</html>

